<div style="text-align:center" class="grid">
  <img
    class="hunterImage"
    alt="Hunter Logo"
    src="https://www.hunterindustries.com/sites/all/themes/hunter_responsive/images/logo_hunter.png"
  />
  <h1 class="title" (click)="changeColor()" [ngStyle]="titleStyle">
    Welcome {{ title }}!
  </h1>
  <img
    alt="CSUSM Logo"
    src="https://www.csusm.edu/_resources/images/homepage/csusmribbon.png"
  />

  <h2 class="intro">Here are some links to help you start:</h2>

  <h2>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
      >Tour of Heroes</a
    >
  </h2>

  <h2>
    <a
      target="_blank"
      rel="noopener"
      href="https://github.com/angular/angular-cli/wiki"
      >CLI Documentation</a
    >
  </h2>

  <h2>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/"
      >Angular blog</a
    >
  </h2>
</div>

<router-outlet></router-outlet>
